@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: black; /* 링크 색상 흰색으로 설정 */
}

a:hover {
  color: #03451e; /* 마우스 오버 시 색상 변경 */
}

/* Quill Editor 기본 스타일 적용 */
.ql-editor {
  font-size: 25px !important;
  line-height: 1.5;
  max-height: none; /* Quill 에디터의 기본 높이 제한을 없애기 위해 */
  overflow-y: visible; /* 에디터 내용이 숨겨지지 않도록 설정 */
}

/* Quill의 다른 크기 옵션들 */
.ql-size-small {
  font-size: 25px !important;
}
.ql-size-large {
  font-size: 35px !important;
}
.ql-size-huge {
  font-size: 50px !important;
}

/* 콘텐츠를 Quill 에디터와 비슷하게 보이도록 적용 */
.content p {
  font-size: 25px; /* Quill 에디터 기본 폰트 크기와 맞추기 */
  line-height: 1.5; /* 가독성을 높이기 위해 줄 간격 추가 */
  margin-bottom: 16px; /* 단락 간 간격 추가 */
}

.content h1,
.content h2,
.content h3 {
  font-weight: bold;
  margin-bottom: 16px;
}

.content ul,
.content ol {
  margin-left: 40px;
}

.content img {
  max-width: 100%; /* 이미지가 콘텐츠 박스를 넘어가지 않도록 설정 */
  height: auto;
}

.content {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; /* 에디터와 일관성 있는 폰트 적용 */
}

ul, ol {
  list-style-position: inside;
}
/* 추가적으로 다른 글로벌 스타일이 있다면 여기에 추가 */
