@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: black; /* 링크 색상 흰색으로 설정 */
}

a:hover {
  color: #03451e; /* 마우스 오버 시 색상 변경 */
}


